$max-height: 520px;
.header {
    position: absolute;
    &__opener {
        height: 2.1em;
        width: 2.1em;
        background-color: $dark-blue;
        position: fixed;
        left: 2em;
        top: 2.2em;
        z-index: 1000;
        cursor: pointer;
        opacity: .5;
        transition: opacity .4s;
        padding: 1rem;
        border-radius: 50%;
        @media screen and (max-width: 1000px) {
            transform: scale(1.5);
        }
        &.x-mark {
            background-color: transparent;
        }
        .line {
            position: absolute;
            width: 2.2rem;
            height: .3rem;
            background-color: white;
            transition: all .4s;
        }
        &_line_1 {
            @extend .line;
            top: 1rem;
            &.x-mark {
                transform: rotate(45deg);
                top: 1.9rem;
            }
        }
        &_line_2 {
            @extend .line;
            top: 1.9rem;
            &.x-mark {
                opacity: 0;
            }
        }
        &_line_3 {
            @extend .line;
            top: 2.8rem;
            &.x-mark {
                transform: rotate(-45deg);
                top: 1.9rem;
            }
        }
        &:hover {
            opacity: 1;
        }
    }
    &__nav {
        position: fixed;
        left: 0;
        top: 0;
        transition: transform .2s, opacity .2s;
        transform: translate(-25em, 0);
        height: 120vh;
        background-color: $dark-blue;
        width: 25em;
        opacity: 0;
        z-index: 999;
        min-height: 600px;
        @media screen and (max-width: 1000px) {
            transform: translate(-100vw, 0);
            width: 100vw;
            overflow-x: scroll; // album-vertical nav.menu fix
        }
        .logo {
            @extend .relate;
            width: auto;
            height: 8.5rem;
            padding: 0;
            border-bottom: dotted 1px rgba(255, 255, 255, 0.21);
            text-align: center;
            //
            display: flex;
            flex-direction: column;
            justify-content: center;
            a {
                width: 9rem;
                margin: 0 auto;
                img {
                    width: 100%;
                    height: auto;
                    opacity: .75;
                    transition: opacity .3s;
                    @media screen and (max-width: 1000px) {
                        transform: scale(1.8);
                    }
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
        ul {
            @extend .cervo;
            color: white;
            letter-spacing: .1rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0 2rem;
            height: 78rem; // auto doesn't work yet
            li {
                display: inline-block;
                text-align: center;
                font-size: 1.2rem;
                line-height: .5;
                margin: 0;
                padding: .5rem;
                line-height: 1;
                transition: transform .3s;
                z-index: 1001;
                flex-basis: 1;
                @media screen and (max-width: 1000px) {
                    font-size: 3rem;
                    padding: 1rem;
                }
                &:hover {
                    background-color: rgba(255, 255, 255, 0.21);
                    transform: scale(1.07);
                }
                &:before {
                    content: '';
                    margin-left: 0em;
                }
                &.active {
                    pointer-events: none;
                    opacity: .3;
                    a {
                        border-bottom: none;
                    }
                }
            }
        }
        a {
            @extend a;
            color: $light;
            border-bottom: none;
        }
    }
    &-opened {
        transform: translate(0, 0);
        opacity: .95;
    }
}

.language {
    position: absolute;
    top: 3.6rem;
    right: 3.5rem;
    z-index: 9998;
    a {
        @extend .cervo;
        color: white;
        letter-spacing: .1rem;
        font-size: 1.25rem;
        transition: opacity .4s;
        opacity: .8;
        @media screen and (max-width: 1000px) {
            font-size: 2rem;
        }
        &:hover {
            opacity: 1;
        }
    }
}

.page {
    //transition: filter .2s;
    background: white;
    &-moved {
        //transform: scale(.9);
        //filter: brightness(40%);
        @media screen and (max-width: 1000px) {
            position: fixed;
        }
    }
}