.hero-content {
    margin-top: 5rem;
    &__matlas-logo {
        width: 90%;
        height: 6.5em;
        margin: 0 auto;
        transform: translate(-.2rem, 0);
        &_light {
            @extend .hero-content__matlas-logo;
            background: url(/img/matlas-logo-white.png) top center / contain no-repeat;
            &:lang(en) {
                background: url(/img/matlas-logo-white-en.png) top center / contain no-repeat;
            }
        }
        &_dark {
            @extend .hero-content__matlas-logo;
            background: url(/img/matlas-logo-dark.png) top center / contain no-repeat;
            &:lang(en) {
                background: url(/img/matlas-logo-dark-en.png) top center / contain no-repeat;
            }
        }
        &_link {
            transition: transform 1.5s, opacity .5s;
            opacity: .9;
            width: 40%;
            height: inherit;
            margin: inherit;
            a {
                width: 100%;
            }
            &:hover {
                transform: scale(1.03);
                opacity: 1;
            }
        }
    }
    &__title {
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
        h2 {
            margin: 1.5rem auto 0;
        }
    }
    &__stars {
        @extend .hero-image__stars;
    }
    &__star {
        @extend .hero-image__star;
    }
    &__description {
        width: 1000px;
        opacity: .8;
        margin: 3em auto 6em;
        p {
            width: 80%;
            margin: 0 auto 1rem;
        }
    }
    &__list {
        @extend .flex-centered;
        margin: 3em auto 4.5em;
        max-width: 800px;
    }
    &__illustration {
        width: 1000px;
        margin: 0 auto;
        position: relative;
        .image {
            margin: inherit;
            img {
                width: 100%;
            }
        }
        .pin {
            @extend .absolute;
            height: auto;
            width: 4rem;
            animation-delay: .2s;
            z-index: 1;
            opacity: 0;
            &.pin-start {
                opacity: 1;
            }
            img {
                @extend .scale__bottom;
            }
            &__note {
                position: inherit;
                animation-delay: 1.2s;
                h5 {
                    @extend .bold;
                    font-size: 1.5rem;
                    line-height: 1.2;
                    font-weight: normal;
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    a {
                        border-bottom-color: lighten($brown, 20%);
                    }
                    &.meters {
                        margin-top: .5rem;
                        font-size: 2.5rem;
                        white-space: nowrap;
                        margin-left: -.65em;
                        &.align-right {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
    &__table {
        table {
            width: 90%;
            max-width: 1300px;
            margin: 3em auto;
            text-align: left;
            vertical-align: top;
            &.mini {
                width: 50%;
            }
            @media screen and (max-width: 1150px) {
                width: 100%;
            }
            &.coverage {
                th,
                td {
                    width: 33%; //airport
                }
            }
            &.main {
                .align-right {
                    text-align: right;
                    width: 10%;
                }
                th:nth-of-type(3),
                th:nth-of-type(4),
                th:nth-of-type(5),
                td:nth-of-type(3),
                td:nth-of-type(4),
                td:nth-of-type(5) {
                    @extend .align-right;
                }
            }
            tr {
                min-height: 1.5rem;
                height: 3.5em;
                border-bottom: dotted 1px $dark-blue;
                transition: background-color .4s;
                &:nth-last-of-type(1) {
                    border-bottom: none;
                }
                &:hover {
                    background-color: rgba(232, 232, 232, 0.3);
                }
                th {
                    @extend .regular;
                    width: auto;
                    padding: 1rem;
                    text-align: inherit;
                    border-bottom: inherit;
                    border-left: dotted 1px $dark-blue;
                    vertical-align: top;
                    &:nth-of-type(1) {
                        border-left: none;
                    }
                }
                td {
                    @extend .bold;
                    font-size: 1.5rem;
                    line-height: 1.3;
                    padding: 1rem;
                    text-align: inherit;
                    border-bottom: inherit;
                    border-left: dotted 1px $dark-blue;
                    vertical-align: top;
                    &.total {
                        font-size: 2.5rem;
                    }
                }
                &>td {
                    &:first-child {
                        border-left: none;
                    }
                }
            }
        }
    }
    &__carousel {
        height: auto;
        width: 1000px;
        position: relative;
        margin: 6em auto 0;
        //overflow: hidden;
        .photos {
            height: inherit;
            width: inherit;
            .photo {
                outline: none;
                img {
                    width: 1000px;
                    //height: 630px;
                    margin: 0 auto;
                }
            }
        }
        .carousel-btns {
            position: absolute;
            width: inherit;
            top: 17.5rem;
            z-index: 1;
            .btn {
                height: 4.5em;
                width: 4.5em;
                position: absolute;
                border-radius: 50%;
                opacity: .5;
                transition: transform .4s, opacity 1.2s, left .5s, right .5s;
                &:hover {
                    transform: scale(1.3);
                    opacity: 1;
                }
            }
            .btn-left {
                left: -6rem;
                background: url(/img/carousel-arrow-left.svg) 30% 50% / 75% 75% no-repeat, $light;
                @extend .btn;
                @media screen and (max-width: 1200px) {
                    left: 2.5rem;
                    border: solid 1px $light;
                }
            }
            .btn-right {
                right: -6rem;
                background: url(/img/carousel-arrow-right.svg) 70% 50% / 75% 75% no-repeat, $light;
                @extend .btn;
                @media screen and (max-width: 1200px) {
                    right: 2.5rem;
                    border: solid 1px $light;
                }
            }
        }
    }
    &__intermediate {
        width: 100vw;
        margin: 10rem 0;
        min-width: 1000px;
        img {
            width: 100%;
        }
        // farm
        &_area {
            clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 0% 98%);
        }
        &_farm-1 {
            clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 80% 70%, 20% 98%, 0% 85%);
        }
        &_farm-2 {
            clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 70% 98%, 0% 80%);
        }
        &_craft {
            clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 80% 77%, 20% 98%, 0% 85%);
        }
        &_farm-3 {
            clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 70% 98%, 0% 80%);
        }
        // stronghold
        &_stronghold {
            clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 80% 98%, 60% 80%, 0% 98%);
        }
        // airport
        &_map-global {
            clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 81.5% 88%, 68% 98%, 15% 70%, 0% 80%);
        }
        &_map-local {
            position: relative;
            max-width: 1400px;
            margin: 0 auto;
            .dot {
                position: absolute;
                height: 3rem;
                width: 3rem;
                opacity: .7;
                border-radius: 50%;
                background-color: white;
                transition: transform .4s, opacity 1s;
                &__number {
                    @extend .bold;
                    text-align: center;
                    font-size: 1.5rem;
                    color: $dark-blue;
                    display: block;
                    padding-top: .7rem;
                    z-index: 1;
                }
                @extend .map-dot-animation;
                &:after {
                    @extend .bold;
                    pointer-events: none;
                    content: attr(data-tooltip);
                    width: auto;
                    padding: .2rem;
                    opacity: 0;
                    visibility: hidden;
                    color: white;
                    font-size: 2rem;
                    line-height: 1;
                    position: absolute;
                    top: 0.3rem;
                    text-shadow: $dark-blue 0 0 4px;
                    z-index: 2;
                }
                &:lang(en) {
                    &:after {
                        @extend .bold;
                        pointer-events: none;
                        content: attr(data-tooltip-en);
                        width: auto;
                        padding: .2rem;
                        opacity: 0;
                        visibility: hidden;
                        color: white;
                        font-size: 2rem;
                        line-height: 1;
                        position: absolute;
                        top: 0.3rem;
                        text-shadow: $dark-blue 0 0 4px;
                        z-index: 2;
                    }
                }
                &.align-right {
                    &:after {
                        right: 3.3rem;
                        text-align: right;
                        transform: translate(0, 0, 0);
                        z-index: 100;
                    }
                }
                &.align-left {
                    &:after {
                        text-align: left;
                        left: 3.3rem;
                        transform: translate(0, 0, 0);
                    }
                }
                &:hover {
                    //animation-play-state: paused;
                    animation: none;
                    transform: scale(1.1);
                    opacity: 1;
                    &:after {
                        opacity: 1;
                        visibility: visible;
                        z-index: 2;
                    }
                }
                @media screen and (max-width: 1300px) {
                    transform: scale(.8);
                }
            }
        }
        ///
        &_map-main {
            clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 50% 90%, 0% 98%);
            position: relative;
            max-width: 1400px;
            margin: 0 auto;
            img {
                opacity: .75;
            }
            .dot {
                position: absolute;
                height: 3rem;
                width: 3rem;
                opacity: .7;
                border-radius: 50%;
                background-color: $dark-blue;
                transition: transform .4s, opacity 1s;
                &__number {
                    @extend .bold;
                    text-align: center;
                    font-size: 1.5rem;
                    color: $light;
                    display: block;
                    padding-top: .7rem;
                    z-index: 1;
                }
                @extend .map-dot-animation-main;
                &:after {
                    @extend .bold;
                    pointer-events: none;
                    content: attr(data-tooltip);
                    width: auto;
                    padding: .2rem;
                    opacity: 0;
                    visibility: hidden;
                    color: $dark-blue;
                    font-size: 2rem;
                    line-height: 1;
                    position: absolute;
                    top: 0.3rem;
                    text-shadow: white 0 0 10px;
                    z-index: 2;
                }
                &:lang(en) {
                    &:after {
                        @extend .bold;
                        pointer-events: none;
                        content: attr(data-tooltip-en);
                        width: auto;
                        padding: .2rem;
                        opacity: 0;
                        visibility: hidden;
                        color: $dark-blue;
                        font-size: 2rem;
                        line-height: 1;
                        position: absolute;
                        top: 0.3rem;
                        text-shadow: white 0 0 10px;
                        z-index: 2;
                    }
                }
                &.align-right {
                    &:after {
                        right: 3.3rem;
                        text-align: right;
                        transform: translate(0, 0, 0);
                        z-index: 100;
                    }
                }
                &.align-left {
                    &:after {
                        text-align: left;
                        left: 3.3rem;
                        transform: translate(0, 0, 0);
                    }
                }
                &:hover {
                    //animation-play-state: paused;
                    animation: none;
                    transform: scale(1.1);
                    opacity: 1;
                    &:after {
                        opacity: 1;
                        visibility: visible;
                        z-index: 2;
                    }
                }
                @media screen and (max-width: 1300px) {
                    transform: scale(.8);
                }
            }
        }
    }
    &__poetic {
        @extend .flex-centered;
        margin: 5rem auto;
        &_poem {
            p {
                margin-bottom: .5rem;
            }
        }
        &_author {
            opacity: .6;
            padding-top: .5rem;
            p {
                .title {
                    &:before {
                        content: '«';
                        margin-left: -.8rem;
                    }
                    &:after {
                        content: '»';
                    }
                }
            }
        }
    }
}