.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
        text-align: left;
        border-radius: 0;
        font-size: 14px;
    }
    .leaflet-tooltip {
        position: absolute;
        padding: 6px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 3px;
        color: #222;
        font-weight: bold;
        white-space: nowrap;
        user-select: none;
        pointer-events: none;
        box-shadow: none;
    }
    .leaflet-tooltip-right:before {
        left: 0;
        margin-left: -12px;
        border-right-color: transparent;
    }